


<div class="footer-inner">
    <div class="">
      <p>You&#8217;re looking for a physical address </p>
      <p>aren&#8217;t you...</p>
      <p> What is this 1972?</p>
      <p>Call Us <a href="tel:612-619-8359">612-619-8359</a> you've come this far.</p>
    </div>
    <div class="socialfoot">
      <a class="sociallink" href="https://www.facebook.com/amplworks">facebook</a>
      <a class="sociallink" href="https://www.twitter.com/amplworks">twitter</a>
      <a class="sociallink" href="https://www.instagram.com/amplworks">instagram</a>
    </div>

    <script id="typef_orm_share" src="https://embed.typeform.com/embed.js"></script>
    <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
    <script async="" src="//stats.ampl.works/tracker.js" id="fathom-script"></script>
    <script>
      (function(f, a, t, h, o, m) {
        a[h] = a[h] || function() {
          (a[h].q = a[h].q || []).push(arguments)
        };
        o = f.createElement('script'),
          m = f.getElementsByTagName('script')[0];
        o.async = 1;
        o.src = t;
        o.id = 'fathom-script';
        m.parentNode.insertBefore(o, m)
      })(document, window, '//stats.ampl.works/tracker.js', 'fathom');
      fathom('set', 'siteId', 'TYAOS');
      fathom('trackPageview');
    </script>
    <!-- / Fathom -->
</div>
