

<div id="myToppanel" class="toppanel">
  <span class="menu-ico">--menu</span>
  <div class="navitem-wrap">
    <a class="navitem" href="/services">services</a>
    <a class="navitem" href="/about">process</a>
    <a class="navitem" href="/Contact">about</a>
    <a class="navitem" href="{{ .Site.BaseURL }}/Blog">blog</a> </div>
  <div class="socialcontact">
    <div class="contact-in">
      <p>Email: <a href="mailto:hi@ampl.works">hi@ampl.works</a></p>
      <p>Call: <a href="tel:612-619-8359">612-619-8359</a></p>
    </div>
    <div class="social">
      <a class="sociallink" href="https://www.facebook.com/amplworks">facebook</a>
      <a class="sociallink" href="https://www.twitter.com/amplworks">twitter</a>
     <a class="sociallink" href="https://www.instagram.com/amplworks">instagram</a>
    </div>
  </div>
</div>
<div class="bar">
  <a class="barimg" href="/index.html"><img src="{{ .Site.BaseURL }}/images/a-dot.png" class="title" alt="ampl. logo"></a>
  <div class="nav-large">
    <a class="typeform-share button mail" href="https://amplworks.typeform.com/to/eml2n8" data-mode="popup" target="_blank">inquire </a>
    <a href="/about">about</a>
    <a href="/blog">a.ideas</a>
  </div>
  <nav id="menu" class="nav-wrap">
    <span class="nav-line1 nav-line"></span>
    <span class="nav-line2 nav-line"></span>
    <span class="nav-line3 nav-line"></span>
  </nav>
</div>
