<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>{{ partial "head" .}}</head>
<body class="background">
  <header>{{ partial "header" .}}</header>
  <section class="fold">
    <h1 class="slogan"><span class="yellow">a</span>bout</span></h1>
  </section>
    <div class="about-wrap">
      <section class="about-top flow">
        <h2>something honest</h2>
        {{ .Content }}
      </section>
      <section class="about-bottom">
        <h2>partners</h2>
        <div class="about-bottom-inner">
          <div class="aboutme">
            <h4>Mitchell McCallum</h4>
            <p>
              mitchell is a dull boy,  he really has done nothing cool heres some filler text:
              Fashion axe vape art party man bun, austin blue bottle kickstarter gluten-free selfies
              health goth. Plaid palo santo disrupt gentrify, meggings cliche yuccie distillery
              chicharrones four loko tacos enamel pin tumeric blue bottle. Chambray flexitarian
              kickstarter sartorial viral small batch hoodie celiac. Palo santo lumbersexual edison bulb
              readymade offal skateboard blue bottle. Ethical hashtag enamel pin small batch YOLO.
             </p>
          </div>
          <div class="aboutme">
            <h4>Cortni Boos</h4>
            <p>
              mitchell is a dull boy,  he really has done nothing cool heres some filler text:
              Fashion axe vape art party man bun, austin blue bottle kickstarter gluten-free selfies
              health goth. Plaid palo santo disrupt gentrify, meggings cliche yuccie distillery
              chicharrones four loko tacos enamel pin tumeric blue bottle. Chambray flexitarian
              kickstarter sartorial viral small batch hoodie celiac. Palo santo lumbersexual edison bulb
              readymade offal skateboard blue bottle. Ethical hashtag enamel pin small batch YOLO.
             </p>
          </div>
        </div>
    </section>
  </div>
  <footer>{{ partial "footer" .}}</footer>
  <!-- <script src="{{ .Site.BaseURL }}/js/main.js" charset="utf-8"></script> -->
</body>
</html>
