
.barimg {
opacity: 1;
}

.about-wrap {

  display: flex;
  flex-flow: column;
}

.about-top {
  max-width: 70%;
  padding-top: 7rem;
  padding-left: var(--gutter);
}
.about-bottom {
  display: flex;
  flex-flow: column;
  padding-top: 7rem;
  padding-left: var(--gutter);
}

.about-bottom-inner {
  display: flex;
  flex-flow: row wrap;
}

.aboutme {
  width: 30rem;
  padding-right: 3rem;
  padding-top: 3rem;
}
.aboutme p {
  padding-top: 1rem;
  padding-left: .25em;
}

.about-top p {
  font-family: 'helvetica', sans-serif;
  font-size: calc(var(--fontSize) );
  font-weight: 400;
}


.flow p + p {
  margin-top: 1em;
}

/* THE FOLLOWING IS PROCESS PAGE STYLES  */


.process .wrap {
 padding: var(--gutter)
}

.process .about-top {
padding: 0;
}
