
.footer-inner {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  border-top: 3px solid #000;
  overflow: auto;
}

.footer-mail {
  transition: all 175ms ease
}

.footer-mail:hover {
  color: #f9f9f9;
  padding-left: .25rem
}

.footer-inner p {
  font-size: calc(var(--fontSize) * .5);
  display: block;
}

.footer-inner > a {
  color: #fad420;

}

.socialfoot {
  display: flex;
  flex-flow: column;
}

.socialfoot a {
  font-size: calc(var(--fontSize) * .4 );
  font-weight: 600;
}
