:root {
  --viewportHeight: 100vh;
  /* if there is some sort of fixed header bar thing at the top? */
  --bar: 80px;
  /* must be 100vh unles, dynamic transform offset is created based upon how tall the paralax item is in relation to the scrollbox/viewport */
  --panHeight: calc(var(--viewportHeight) - var(--bar));
  --gutter: 5rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  min-height: 100%;
}

body {
  font-family: 'helvetica', 'proxima-nova', sans-serif;
  --fontSize: 3rem;
  --lineHeight: calc(1.2 * var(--fontSize));
}

header {
  background-color: #fff;
}

.background {
  background-color: #fff;
  transition: background-color 1s ease;
}

h1 {
  font-size: calc(var(--fontSize) * .5 );
}

h2 {
  font-size: calc(var(--fontSize) * 1.25);
}

h3 {
  font-size: calc(var(--fontSize) *.8);
}

i {
  color: #fad420;
}

p {
  font-size: calc(var(--fontSize) * .6);
}

a {
  text-decoration: none;
  color: #000;
}



.main {
  padding-top: var(--bar);
}

.fold {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding-top: var(--bar);

}

.slogan {
  font-family: 'futura-pt';
  font-size: calc(var(--fontSize) * .7);
  color: #000;
  padding-left: var(--gutter);
  text-shadow: -6px 3px white, 6px 3px white;
}

.slogan::after {
content: '';
position: absolute;
top: .98em;
left: 0;
height: 6rem;
border-bottom: 3pt solid #000;
width: 100vw;
z-index: -1;
}

.sloganpt2 {
  color: #000;
}

.yellow {
  color: #fad420;
}

.subhead-wrap {
 width: 100vw;
 padding-bottom: .75rem;
 border-bottom: 3pt solid #000;
}

.subhead {
  padding-left: var(--gutter);
}

.subhead-item {
  font-size: 2rem;
  padding-right: 1em;
  padding-left: .25em;
  font-weight: 800;
}

.innerCont {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--gutter) * .5);
}


footer {
  background: #fff;
}

.study-item {
  margin: calc(var(--gutter) * .5);
  flex: 0 1 200px;
}

.study-item img {
  display: block;
  width: 100%;
}

@supports (display: grid) and (--var: ) {

  .innerCont{
    display: grid;
    margin: var(--gutter);
    grid-gap: var(--gutter);
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .study-item {
    margin: 0;
  }

}

.item-text a {
  font-size: calc(var(--fontSize) * .5 );
  padding-top: 1em;
  font-weight: 600;
}
.item-text p {
  font-size: calc(var(--fontSize) * .4 );
  line-height: 1.4;
  padding-top: 1em;
}


.blog .item-text a {
  font-size: calc(var(--fontSize));
  padding-top: 1em;
  font-weight: 600;
}



@media screen and (min-width: 1000px) {
  .slogan {
    font-size: calc(var(--fontSize) * 2.3);
  }
}

@media screen and (max-width: 750px) {
  .slogan {
    font-size: var(--fontSize);
    text-shadow: none;
  }
  .subhead-wrap {
    display: none;
  }

  .services-title {
    width: 90vw;
  }

  .services-inner {
    padding-left: var(--gutter);
  }
}

@media screen and (max-width: 550px) {


}
